*.npz
*.pt
*.out
*.sh
__pycache__/
docs/CodeBooks/
log/
backup/
Backup/
setup.py
README_PIP.md
ADFWI_PIP
ADFWI_Torch.egg-info
build
dist
MANIFEST.in
docs/
ADFWI/dip/
examples/github_Issue
examples/acoustic/
examples/elastic/
examples/gradient_checking
examples/multi-scale
examples/pip_usage
examples/waveform_checking
examples/time-and-memory-tests
examples/datasets
examples/dip/convergence
examples/dip/multi-parameters
examples/dip/multiscale
examples/dip/network_structure
examples/dip/pretrained
examples/dip/sparseShotsTests
examples/dip/
examples/acoustic/Article-Adding-Test
examples/real-case-study