*.npz
*.pt
*.out
*.sh
.history/
.gitignore
__pycache__/
docs/CodeBooks/
log/
backup/
Backup/
setup.py
README_PIP.md
ADFWI_PIP
ADFWI_Torch.egg-info
build
dist
MANIFEST.in
docs/
# ADFWI/dip/
examples/github_Issue
examples/acoustic/
examples/elastic/
examples/gradient_checking
examples/multi-scale
examples/pip_usage
examples/waveform_checking
examples/time-and-memory-tests
examples/datasets
examples/dip/convergence
examples/dip/multi-parameters
examples/dip/multiscale
examples/dip/network_structure
examples/dip/pretrained
examples/dip/sparseShotsTests
examples/dip/
examples/acoustic/Article-Adding-Test
examples/real-case-study

# DR-FWI
cmp
data*/
GC*/
*.json
notebook*/
jupyter*/
examples/DR-FWI/Article_Figure
examples/DR-FWI/Inductive_bias/imputation_bias/low-frequency-missing
examples/DR-FWI/Inductive_bias/imputation_bias/Marmousi2-nowater-MissingTrace
examples/DR-FWI/Inductive_bias/imputation_bias/Marmousi2-nowater-SingleSide
examples/DR-FWI/Inductive_bias/initial_model/Marmousi2-nowater-LinearInitModel
examples/DR-FWI/Inductive_bias/regularization/Marmousi2-nowater-higherResolution
examples/DR-FWI/Inductive_bias/regularization/Marmousi2-nowater-RealNoise

examples/DR-FWI/multi-parameters/ISO_acoustic/Anomaly-Model
examples/DR-FWI/multi-parameters/ISO_acoustic/Marmousi2
examples/DR-FWI/multi-parameters/ISO_acoustic/Marmousi2-nowater
examples/DR-FWI/multi-parameters/ISO_acoustic/Marmousi2-nowater-highResolution
examples/DR-FWI/multi-parameters/ISO_acoustic/Overthrust
examples/DR-FWI/multi-parameters/ISO_acoustic/Overthrust-highResolution
examples/DR-FWI/multi-parameters/ISO_elastic/Marmousi2-vp_vs
examples/DR-FWI/multi-parameters/ISO_elastic/Marmousi2-vp_vs_rho
examples/DR-FWI/multi-parameters/VTI_elastic
examples/DR-FWI/multi-parameters/ISO_elastic/Anomaly-vp_vs_rho-shotTop-recTop-v2

examples/DR-FWI/reparameterization-strategy/Analysis
examples/DR-FWI/reparameterization-strategy/Marmousi2-nowater-highresolution

examples/DR-FWI/Utils

# new misfit test
examples/acoustic/02-misfit-functions-test/03-NewMisfit-Test
examples/acoustic/02-misfit-functions-test/03-NewMisfit-Design

# new feature docs
