*.npz
*.pt
*.out
*.sh
__pycache__/
log/
examples/datasets/
backup/
setup.py
README_PIP.md
ADFWI_PIP
ADFWI_Torch.egg-info
build
dist
MANIFEST.in
examples/dip/03_ResNet/
examples/dip/04_InversionNet/
examples/dip/05_SparseShotsTests/
examples/acoustic/01-model-test/
examples/elastic/